{% extends "layout.html" %}
{% load static from staticfiles %}
{% load widget_tweaks %}
{% load accounts_extras %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/password.min.css" %}">
{% endblock %}
{% block title %}Change password | {{ current_user.first_name }} {{ current_user.last_name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-3 mb-5">Change Password</h1>
        <p>User: {{ current_user.first_name }} {{ current_user.last_name }}</p>
        {# change password form #}
        <form method="POST" action="{% url 'accounts:change_password' %}">
            {% csrf_token %}
            {% for hidden_field in change_password_form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            <input type="hidden" id="name-check" name="name-check"
                   value="{{ current_user.first_name }}{{ current_user.last_name }}{{ current_user.username }}">

            {% if change_password_form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in change_password_form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in change_password_form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}

                    {% if change_password_form.is_bound %}

                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}


                    {% if field.help_text %}
                        <small class="hint">{{ field.help_text|add_help_style|safe }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" class="button-primary mt-4" value="Update password">
        </form>
        {# /change password form #}
    </div>
{% endblock %}