{% extends "layout.html" %}
{% load static from staticfiles %}
{% load widget_tweaks %}
{% load accounts_extras %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
          integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static "css/summernote.min.css" %}">
{% endblock %}
{% block title %}Create Profile | {{ super }}{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="display-3 mb-2">Complete your profile</h1>
        <p class="lead font-weight-bolder ml-2">Step 2 of 2</p>
        <form method="POST" action="{% url 'accounts:create_profile' %}">
            {% csrf_token %}

            {# profile form #}

            {% for hidden_field in profile_form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if profile_form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in profile_form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in profile_form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}

                    {% if profile_form.is_bound %}

                        {% if field.errors %}
                            {% if field.name != 'bio' and field.name != 'interests' %}
                                {% render_field field class="form-control is-invalid" %}
                            {% else %}
                                {% render_field field value=field.error class="clean-button wsiwyg-is-invalid" %}
                            {% endif %}
                            {% for error in field.errors %}
                                {% if field.name != 'bio' and field.name != 'interests' %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% else %}
                                    <div class="wsiwyg-invalid-message">
                                        {{ error }}
                                    </div>
                                {% endif %}

                            {% endfor %}
                        {% else %}
                            {% if field.name != 'bio' and field.name != 'interests' %}
                                {% render_field field value=field.value class="form-control is-valid" %}
                            {% else %}
                                {% render_field field value=field.value class="clean-button wsiwyg-is-valid" %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if field.name != 'bio' and field.name != 'interests' %}
                            {% render_field field class="form-control" %}
                        {% else %}
                            {% render_field field class="clean-button" %}
                        {% endif %}
                    {% endif %}


                    {% if field.help_text %}
                        <small class="hint">{{ field.help_text|add_help_style|safe }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            {# /profile form #}
            <br>
            <input type="submit" class="button-primary" value="Save Profile">
        </form>
    </div>
{% endblock %}