{% extends "layout.html" %}
{% load widget_tweaks %}
{% load accounts_extras %}

{% block title %}{{ current_user.first_name }} {{ current_user.last_name }} | Edit profile {% endblock %}
{% block body %}
    <div class="container">
        <h1 class="display-3 mb-2">Edit Profile</h1>
     <figcaption class="figure-caption mt-2">{{ current_user.first_name }} {{ current_user.last_name }}</figcaption>
        <img class="mt-4" src="{{ current_user.profile.avatar.url }}" width="200px"
             alt="{{ current_user.profile.first_name }} {{ current_user.profile.last_name }}">

        <p class="mt-5 mb-4">Username: {{ current_user.username }}</p>
        <div><p class="mt-3 mb-4">Email: {{ current_user.email }}
            <button type="button" class="button-primary btn-sm px-4 py-2 d-inline align-top e-button">Edit</button></p></div>
        <form method="POST" action="{% url 'accounts:edit_profile' %}" enctype="multipart/form-data">
            {% csrf_token %}

            {# user form #}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form.visible_fields %}

                <div class="form-group">
                    {{ field.label_tag }}

                    {% if form.is_bound %}

                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field value=field.value class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="hint">{{ field.help_text|add_help_style|safe }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            {# /user form #}
            <br>
            <input type="submit" class="button-primary" value="Save">
        </form>
    </div>
{% endblock %}