{% extends 'layout.html' %}

{% block javascript %}
  <script>
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_avatar").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $('#modalCrop').modal('show')
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 200,
          minCropBoxHeight: 200,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#formUpload").submit();
      });

    });
  </script>
{% endblock %}

{% block title %}View profile | {{ current_user.first_name }} {{ current_user.last_name }}{% endblock %}
{% block body %}
    <div class="container seventy">
        <h1 class="display-3 mb-2">{{ current_user.first_name }} {{ current_user.last_name }}</h1>
        {%  if not current_user.profile.avatar.url %}
        <img class="img-thumbnail mt-4" src="/media/placeholder/default.png" width="200px"
             alt="Default Avatar">
        {%  endif %}
        <img class="img-thumbnail mt-4" src="{{ current_user.profile.avatar.url }}" width="200px"
             alt="{{ current_user.first_name }} {{ current_user.last_name }}">
    <p class="mt-4 mb-0"><a class="button button-primary btn-sm px-4 py-2 e-button"
               href="{% url 'accounts:set_avavtar' %}" role="button">Change profile image</a></p>
    <p class="mt-4 mb-0"><a class="button button-primary btn-sm px-4 py-2 e-button"
               href="{% url 'accounts:edit_profile' %}" role="button">Edit profile</a></p>

    <form method="post" enctype="multipart/form-data" id="formUpload">
  {% csrf_token %}
  {{ form }}
</form>
    <!-- MODAL TO CROP THE IMAGE -->
  <div class="modal fade" id="modalCrop" tabindex="-1" role="dialog" aria-labelledby="modalCrop" aria-hidden="true">>
    <div class="modal-dialog" role="document">>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Crop the photo</h4>
        </div>
        <div class="modal-body">
          <img src="" id="image" style="max-width: 100%;">
        </div>
        <div class="modal-footer">
          <div class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-default js-zoom-in">
              <span class="glyphicon glyphicon-zoom-in"></span>
            </button>
            <button type="button" class="btn btn-default js-zoom-out">
              <span class="glyphicon glyphicon-zoom-out"></span>
            </button>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
          <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
        </div>
      </div>
    </div>
  </div>

        <hr class="mt-2">
        <h4 class="mt-5 mb-2">Username</h4>
        <p><span class="text-light-green">{{ current_user.username }}</span></p>
        <h4 class="mt-5 mb-2">Email</h4>
        <p>{{ current_user.email|urlize }}</p>
        <h4 class="mt-5 mb-2">City</h4>
        <p>{{ current_user.profile.city }}</p>
        {% if current_user.profile.county %}
            <h4 class="mt-5 mb-2">State / County</h4> <p>{{ current_user.profile.county }}</p>
        {% endif %}
        <h4 class="mt-5 mb-2">Country</h4>
        <p>{{ current_user.profile.country }}</p>
        <h4 class="mt-5 mb-2">Date of birth</h4>
        <p>{{ current_user.profile.date_of_birth }}</p>
        <hr>
        <h4 class="mt-5 mb-2">Bio</h4>
        <p>{{ current_user.profile.bio|safe }}</p>
        <hr>
        {%  if current_user.profile.interests and current_user.profile.interests != '<br>'%}
        <h4 class="mt-5 mb-2">Interests</h4>
        <p>{{ current_user.profile.interests|safe }}</p>
        <hr>
        {%  endif %}
        {% if current_user.profile.website %}
        <h4 class="mt-5 mb-2">Website</h4>
        <p>{{ current_user.profile.website|urlize }}</p>
        {%  endif %}
        <h4 class="mt-5 mb-2">Date joined</h4>
        <p>{{ current_user.date_joined }}</p>
    </div>

{% endblock %}