{% extends 'layout.html' %}
{% load static from staticfiles %}
 {%  block css %}
<link rel="stylesheet" href="{% static "css/cropper.min.css" %}">
{% endblock %}
{% block title %}View profile | {{ current_user.first_name }} {{ current_user.last_name }}{% endblock %}
{% block body %}
    <div class="container seventy">
        <h1 class="display-3 mb-2">{{ current_user.first_name }} {{ current_user.last_name }}</h1>
        {% if not current_user.profile.avatar.url %}
            <img class="img-thumbnail mt-4" src="/media/placeholder/default.png" width="200px"
                 alt="Default Avatar">
        {% endif %}
        <img class="img-thumbnail mt-4" src="{{ current_user.profile.avatar.url }}" width="200px"
             alt="{{ current_user.first_name }} {{ current_user.last_name }}">

        <form method="post" enctype="multipart/form-data" id="formUpload">
            {% csrf_token %}
            {{ form }}
        </form>

        {#        <p class="mt-4 mb-0"><a class="button button-primary btn-sm px-4 py-2 e-button"#}
        {#                                href="{% url 'accounts:set_avavtar' %}" role="button">Change profile image</a></p>#}
        <p class="mt-4 mb-0"><a class="button button-primary btn-sm px-4 py-2 e-button"
                                href="{% url 'accounts:edit_profile' %}" role="button">Edit profile</a></p>

        <!-- MODAL TO CROP THE IMAGE -->
        <div class="modal fade" id="modalCrop" tabindex="-1" role="dialog" aria-labelledby="modalCrop"
             aria-hidden="true">>
            <div class="modal-dialog" role="document">>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Crop the photo</h4>
                    </div>
                    <div class="modal-body">
                        <img src="" id="image" style="max-width: 100%;">
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group pull-left" role="group">
                            <button type="button" class="btn btn-default js-zoom-in">
                                <span class="glyphicon glyphicon-zoom-in"></span>
                            </button>
                            <button type="button" class="btn btn-default js-zoom-out">
                                <span class="glyphicon glyphicon-zoom-out"></span>
                            </button>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="mt-2">
        <h4 class="mt-5 mb-2">Username</h4>
        <p><span class="text-light-green">{{ current_user.username }}</span></p>
        <h4 class="mt-5 mb-2">Email</h4>
        <p>{{ current_user.email|urlize }}</p>
        <h4 class="mt-5 mb-2">City</h4>
        <p>{{ current_user.profile.city }}</p>
        {% if current_user.profile.county %}
            <h4 class="mt-5 mb-2">State / County</h4> <p>{{ current_user.profile.county }}</p>
        {% endif %}
        <h4 class="mt-5 mb-2">Country</h4>
        <p>{{ current_user.profile.country }}</p>
        <h4 class="mt-5 mb-2">Date of birth</h4>
        <p>{{ current_user.profile.date_of_birth }}</p>
        <hr>
        <h4 class="mt-5 mb-2">Bio</h4>
        <p>{{ current_user.profile.bio|safe }}</p>
        <hr>
        {% if current_user.profile.interests and current_user.profile.interests != '<br>' %}
            <h4 class="mt-5 mb-2">Interests</h4>
            <p>{{ current_user.profile.interests|safe }}</p>
            <hr>
        {% endif %}
        {% if current_user.profile.website %}
            <h4 class="mt-5 mb-2">Website</h4>
            <p>{{ current_user.profile.website|urlize }}</p>
        {% endif %}
        <h4 class="mt-5 mb-2">Date joined</h4>
        <p>{{ current_user.date_joined }}</p>
    </div>

{% endblock %}