{% extends 'layout.html' %}

{% block title %}{{ current_user.first_name }} {{ current_user.last_name }} | User profile {% endblock %}
{% block body %}
    <div class="grid-25">
        nav here maybe?
    </div>
    <div class="grid-75">
        <h1>{{ current_user.first_name }} {{ current_user.last_name }}</h1>
        <img src="{{ current_user.profile.avatar.url }}" width="200px" alt="{{ current_user.profile.first_name }} {{ current_user.profile.last_name }}">
        <hr>
        <p><a href="{%  url 'accounts:edit_profile' %}">Edit Profile</a></p>
        <p>Username: {{ current_user.username }}</p>
        <p>Email: {{ current_user.email|urlize }}</p>
        <p>City: {{ current_user.profile.city }}</p>
        {% if current_user.profile.county %}
        <p>County: {{ current_user.profile.county }}</p>
        {%  endif %}
        <p>Country: {{ current_user.profile.country}}</p>
        <p>D.O.B: {{ current_user.profile.date_of_birth}}</p>
        <p>Bio: {{ current_user.profile.bio }}</p>
        <p>Interests: {{ current_user.profile.interests }}</p>
        <p>Website: {{ current_user.profile.website|urlize}}</p>
        <p>Date Joined: {{ current_user.date_joined }}</p>
    </div>
{% endblock %}