{% extends "layout.html" %}
{% load static from staticfiles %}
{% load widget_tweaks %}
{% load accounts_extras %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/password.min.css" %}">
{% endblock %}
{% block title %}Sign Up | Create your account{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-3 mb-2">Create your account</h1>
        <p class="lead font-weight-bolder ml-2">Step 1 of 2</p>
        <form method="POST" action="{% url 'accounts:sign_up' %}" enctype="multipart/form-data">
            {% csrf_token %}

            {# login form #}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}

                    {% if form.is_bound %}

                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        <div>
                            {% render_field field class="form-control" %}
                        </div>
                    {% endif %}

                    {% if field.help_text %}
                        <small class="hint">{{ field.help_text|add_help_style|safe }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            {# /login form #}
            <br>
            <input type="submit" class="button-primary" value="Create Account">
        </form>
    </div>
{% endblock %}