
.hint {
    display: inline-block;
    position: relative;
    color: rgb(83, 125, 123);
    width: 80%;
    margin-bottom: 1.2rem;
    top: -8px;
}

.no-bullets {
    list-style: none;
}

#id_bio, #id_interests {
    font-size: 1.6rem;
}

.e-button {
    position: relative;
    font-size: 1.2rem;
    top: -3px;
    left: 2px;
}