
.hint {
    display: inline-block;
    position: relative;
    color: rgb(83, 125, 123);
    width: 80%;
    margin-bottom: 1.2rem;
    top: -8px;
}

.no-bullets {
    list-style: none;
}

#id_bio, #id_interests {
    font-size: 1.6rem;
}

.e-button {
    position: relative;
    font-size: 1.2rem;
    top: -3px;
    left: 2px;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
}

.e-button:hover, .e-button:active{
    text-decoration: none;
}

.text-light-green {
    color: rgba(83, 125, 123,.7);
}


.clean-button button {
    box-shadow: none;
}

.wsiwyg-invalid-message {
    color: rgb(220, 53, 69);
    margin-top: .2rem;
    margin-bottom: 1rem;
    font-size: 80%;
}


.wsiwyg-is-invalid {
    border-top: 1px solid rgb(220, 53, 69);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.wsiwyg-is-valid {
    border-top: 1px solid #28a745;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.note-editor.note-frame {
    /*border: 1px solid rgb(220, 53, 69);*/
}

.ninety {
    width: 90%;
    float: left;
}