{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block body %}
    <div class="grid-25">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Plan your visit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Get involved</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
            </li>

        </ul>
    </div>
    <div class="grid-75">
        <h1 class="display-3 mb-3">Welcome to Circle<sup>&#8482;</sup> </h1>
        <img src="{% static 'images/District_3094b.jpg' %}" class="img-fluid" alt="Chiswick Park Tube Station">
        <figcaption class="figure-caption mt-2">Chiswick Park Tube Station. Image &#169; Chris Guy 2009</figcaption>
        <h2 class="display-4 mt-4">A view of Chiswick Park</h2>
        <p>Chiswick park tube station was designed by Charles Holden in a modern European style using brick, reinforced
            concrete and glass. Holden's design was inspired by Alfred Grenander's underground station Krumme Lanke
            in Berlin.
            <p>Similar to the station at Arnos Grove that Holden designed for the eastern Piccadilly line extension,
            Chiswick Park station features a tall semi-circular ticket hall adjacent to the embankment carrying the
            tracks. Externally the brick walls of the ticket hall are punctuated with panels of clerestory windows
            and the structure is capped with a flat concrete slab roof which abuts the cantilevered concrete canopy
            of the westbound platform. A similar canopy shelters the eastbound platform accessed through the embankment.
            <p>To make the station's location visible from Chiswick High Road the station was also provided with a square
        brick tower surmounted by the UNDERGROUND roundel and the station's name.</p>
            <p>The station has been a Grade II listed building since 18 February 1987.</p>
            <p>For more information, please see the <a href="https://en.wikipedia.org/wiki/Chiswick_Park_tube_station"
                                                       target="_blank">Chiswick Park Wikipedia page</a>.</p>
    </div>
{% endblock %}
