{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{% block title %}Circle{% endblock %}</title>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONTS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cousine'
          rel='stylesheet' type='text/css'>

    <!-- jQuery
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <!-- Bootstrap CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- JavaScript & CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <script type="text/javascript" src="{% static "js/autogrow.js" %}"></script>
    <script type="text/javascript" src="{% static "js/global.js" %}"></script>


    <!-- Bootstrap JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <!-- Datepicker CSS & JS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
            integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>


      <!-- Password Strength Meter CSS & JS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <script type="text/javascript" src="{% static "js/password.min.js" %}"></script>


    <!-- Summernote CSS & JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script type="text/javascript" src="{% static "js/summernote-bs4.min.js" %}"></script>

  <!-- jquery cropper
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script type="text/javascript" src="{% static "js/cropper.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-cropper.min.js" %}"></script>


    <!-- Template specific  CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {%  block css %}{%  endblock %}

    <!-- Global CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
   <link rel="stylesheet" href="{% static "css/global.css" %}">

    <!-- Custom css
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{% static "css/account.css" %}">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">

</head>
<body>
<header class="circle--header">
    <div class="bounds">
        <div class="circle--fluid">
            <div class="circle--fluid--cell">
                <h1 class="hide-text circle--logo"><a class="logo"
                                                      href="{% url 'home' %}">Circle</a>
                </h1>
            </div>
            <div class="circle--fluid--cell circle--fluid--primary">
                <nav>
                    <ul class="circle--inline">
                        <li><a href="#">About</a></li>
                        <li><a href="#">What we do</a></li>
                    </ul>
                </nav>
            </div>
            <div class="circle--fluid--cell circle--fluid--secondary">
                <nav>
                    <ul class="circle--inline">
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'accounts:sign_up' %}">Sign Up</a></li>
                            <li><a href="{% url 'accounts:sign_in' %}">Sign
                                In</a></li>
                        {% else %}
                            <li><a href="{% url 'accounts:profile' %}">View Profile</a></li>
                            <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
                            <li><a href="{% url 'accounts:sign_out' %}">Sign Out</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="container bounds circle--page">
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li{% if message.tags %}
                    class="no-bullets alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block body %}{% endblock %}
</div>
    {% block javascript %}
    {% endblock %}
</body>
</html>